<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>{% block title %}{% endblock %} - JSCC</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/images/favicon.ico') }}" type="image/x-icon"> <!-- Favicon-->
    <!-- project css file  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/ihealth.style.min.css') }}">
</head>

<body>

<div id="ihealth-layout" class="theme-tradewind">

    <!-- main body area -->
    <div class="main p-2 py-3 p-xl-5 ">
        {% block content %}{% endblock %}
    </div>
</div>

<!-- Jquery Core Js -->
<script src="{{ url_for('static', filename='assets/bundles/libscripts.bundle.js')}}"></script>

</body>
</html>