<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>{% block title %}{% endblock %} - JSCC</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/images/favicon.ico') }}" type="image/x-icon"> <!-- Favicon-->
    <!-- project css file  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/ihealth.style.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugin/datatables/responsive.dataTables.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugin/datatables/dataTables.bootstrap5.min.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@event-calendar/build@2.7.0/event-calendar.min.css">
</head>

<body>
    <div id="loading" style="display:none;position: fixed; width: 100%;height: 100%; background-color: rgba(0, 0, 0, 0.433); z-index: 100; text-align: center;">
        <div class="spinner-grow text-secondary" style="position: relative;top: 50%;" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div id="toastr" data-bs-autohide="true" data-bs-delay="3000" style="position: fixed; z-index: 10000000;" class="toast align-items-center text-white bg-success border-0 m-3" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body">
            <h6 id="message"></h6>
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>

<div id="ihealth-layout" class="theme-tradewind">

    <!-- main body area -->
    {% block content %}{% endblock %}
    
</div>


</body>
</html>