<div class="sidebar px-4 py-4 py-md-5 me-0">
    <div class="d-flex flex-column h-100">
        <a href="index.html" class="mb-0 brand-icon">
            <span class="logo-icon">
                <i class="icofont-heart-beat fs-2"></i>
            </span>
            <span class="logo-text">JCSS</span><br>
        </a>
        <!-- Menu: main ul -->

        <ul class="menu-list flex-grow-1 mt-3">
            <li class="collapsed">
            <a class="m-link active" data-bs-toggle="collapse" data-bs-target="#dashboard" href="#">
            <li><a class="m-link active" href="{{ url_for('index')}}"><i class="icofont-ui-home fs-5"></i> <span>Dashboard</span></a></li>
            <li><a class="m-link" href="virtual.html"><i class="icofont-ui-video-chat fs-5"></i> <span>JSCC Virtual</span></a></li>
            <li><a class="m-link" href="{{ url_for('appointments')}}"><i class="icofont-stretcher fs-5"></i> <span>Appointments</span></a></li>
            {% if g.user.user_role == 'DOCTOR' or g.user.user_role == 'NURSE' or g.user.user_role == 'ADMINISTRATOR'%}
            <li class="collapsed">
                <a class="m-link" data-bs-toggle="collapse" data-bs-target="#menu-Doctor" href="#">
                    <i class="icofont-doctor-alt fs-5"></i>  <span>Health Professional</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse" id="menu-Doctor">
                        <li><a class="ms-link" href="{{ url_for('doctors')}}">All Health Professionals</a></li>
                        {% if g.user.user_role == 'ADMINISTRATOR'%}
                        <li><a class="ms-link" href="{{ url_for('add_health_professional')}}">Add Health Professionals</a></li>
                        {% endif %}
                        <li><a class="ms-link" href="{{ url_for('schedule')}}">Schedule</a></li>
                    </ul>
            </li>
            {% endif %}
            {% if g.user.user_role != 'PATIENT'%}
            <li class="collapsed">
                <a class="m-link" data-bs-toggle="collapse" data-bs-target="#menu-Patient" href="#">
                <i class="icofont-blind fs-5"></i> <span>Patient</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                <!-- Menu: Sub menu ul -->
                <ul class="sub-menu collapse" id="menu-Patient">
                    <li><a class="ms-link" href="{{ url_for('patients')}}">Patient List</a></li>
                </ul>
            </li>
            {% endif %}
            <li class="collapsed">
                <a class="m-link" data-bs-toggle="collapse" data-bs-target="#app" href="#">
                <i class="icofont-code-alt fs-5"></i> <span>Interactions</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                <!-- Menu: Sub menu ul -->
                <ul class="sub-menu collapse" id="app">
                    <li><a class="ms-link" href="calendar.html">Calandar</a></li>
                    <li><a class="ms-link" href="chat.html"> Communication</a></li>
                </ul>
            </li>
        </ul>
        
        <!-- Menu: menu collepce btn -->
        <button type="button" class="btn btn-link sidebar-mini-btn text-light">
            <span class="ms-2"><i class="icofont-bubble-right"></i></span>
        </button>
    </div>
</div>