<div class="sidebar px-4 py-4 py-md-5 me-0">
    <div class="d-flex flex-column h-100">
        <a href="index.html" class="mb-0 brand-icon">
            <span class="logo-icon">
                <i class="icofont-heart-beat fs-2"></i>
            </span>
            <span class="logo-text">JSCC</span>
        </a>
        <!-- Menu: main ul -->

        <ul class="menu-list flex-grow-1 mt-3">
            <li class="collapsed">
            <a class="m-link active" data-bs-toggle="collapse" data-bs-target="#dashboard" href="#">
            <i class="icofont-ui-home fs-5"></i> <span>Dashboard</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
            <!-- Menu: Sub menu ul -->
                <ul class="sub-menu collapse show" id="dashboard">
                    <li><a class="ms-link active" href="{{ url_for('index')}}">Hospital Dashboard</a></li>
                </ul>
            </li>
            <li><a class="m-link" href="virtual.html"><i class="icofont-ui-video-chat fs-5"></i> <span>JSCC Virtual</span></a></li>
           
            <li class="collapsed">
                <a class="m-link" data-bs-toggle="collapse" data-bs-target="#menu-Doctor" href="#">
                    <i class="icofont-doctor-alt fs-5"></i>  <span>Doctor</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse" id="menu-Doctor">
                        <li><a class="ms-link" href="doctor-all.html">All Doctors</a></li>
                        <li><a class="ms-link" href="doctor-add.html">Add Doctor</a></li>
                        <li><a class="ms-link" href="appointment.html">Appointment</a></li>
                        <li><a class="ms-link" href="doctor-profile.html">Doctors Profile</a></li>
                        <li><a class="ms-link" href="doctor-schedule.html">Doctor Schedule</a></li>
                    </ul>
            </li>
            <li class="collapsed">
                <a class="m-link" data-bs-toggle="collapse" data-bs-target="#menu-Patient" href="#">
                <i class="icofont-blind fs-5"></i> <span>Patient</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                <!-- Menu: Sub menu ul -->
                <ul class="sub-menu collapse" id="menu-Patient">
                    <li><a class="ms-link" href="patient-list.html">Patient List</a></li>
                    <li><a class="ms-link" href="patient-add.html">Add Patient</a></li>
                    <li><a class="ms-link" href="patient-profile.html">Patient Profile</a></li>
                    <li><a class="ms-link" href="patient-invoices.html">Patient Invoices</a></li>
                </ul>
            </li>
            <li class="collapsed">
                <a class="m-link" data-bs-toggle="collapse" data-bs-target="#app" href="#">
                <i class="icofont-code-alt fs-5"></i> <span>Interactions</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                <!-- Menu: Sub menu ul -->
                <ul class="sub-menu collapse" id="app">
                    <li><a class="ms-link" href="calendar.html">Calandar</a></li>
                    <li><a class="ms-link" href="chat.html"> Communication</a></li>
                </ul>
            </li>
        </ul>
        
        <!-- Menu: menu collepce btn -->
        <button type="button" class="btn btn-link sidebar-mini-btn text-light">
            <span class="ms-2"><i class="icofont-bubble-right"></i></span>
        </button>
    </div>
</div>